<launch>
  <!-- Load joint controller configurations from
        YAML file to parameter server -->
  <rosparam file="$(find bobby_control)/config/bobby_control.yaml"
    command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner"
    pkg="controller_manager"
    type="spawner" respawn="false"
    output="screen" ns="/bobby"
    args="joint_state_controller
      rightWheel_effort_controller
      leftWheel_effort_controller"
  />

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher"
        type="robot_state_publisher" respawn="false" output="screen">
    <param name="robot_description"
      command="$(find xacro)/xacro --check-order --inorder '$(find bobby_description)/urdf/bobby.xacro'" />
    <remap from="/joint_states" to="/bobby/joint_states" />
  </node>

  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping"
        args="_base_frame:=odom">
    <remap from="scan" to="/bobby/laser/scan" />
  </node>
</launch>
